<h3>Enter the phone number and body of the message!</h3>
<form action="/" method="post">
	Phone # (XXXXXXXXXX): <input type="text" name="inputNumber">
	<br/>
	Body: <textarea rows="4" cols = "60" type="text" name="inputBody"></textarea>
	<br/>
	<input type="submit">
</form>